/*        O__O
          (oo)
   /-------\/
  / |     ||
 *  ||----||
    ~~    ~~
Cow at Disneyland
*/

* {
	font-family: din-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* NAVBAR STYLES GO HERE */

.hero {
	margin: 0;
	color: #ffffff;
	background-color: #000000;
	background-image: url(images/hero.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	height: 860px;
}

#hero-text {
	margin: 0 0 0 20px;
	font-size: 46px;
	font-family: 'Lora', serif;
	position: relative;
	top: 550px;
	left: 50px; 
}

.hero h1 {
	margin: 0;
	font-family: 'Lora', serif;
}

.hero h3 {
	margin: 0;
	font-size: 95%;
}

.hero h6 {
	margin: 0;
	font-size: 40%;
}

#hero-arrow {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #ffffff;
	font-size: 50px;
	font-weight: 700;
	top: 615px;
	left: 48%; 
}

#hero-arrow:hover {
	color: #5f5f5f;
}

.about {
	background-color: #afafaf;
}

#about-text {
	text-align: center;
	padding: 52px;
}

#about-text h1 {
	font-size: 44px;
	margin: 0;
	padding-top: 20px;
}

#about-text p {
	font-size: 28px;
	font-weight: 200;
}

/*               \_|_/
                  (oo)
           /-------\/
          / |     ||
         *  ||----||
            ~~    ~~
Cow visiting the Statue of Liberty
*/

/* RESPONSIVE CSS */

@media screen and (max-width: 600px) {

	/* NAVBAR STYLES GO HERE */

	#hero-text {
		font-size: 34px;
	}

	.hero h6 {
		font-size: 50%;
	}

	#hero-arrow {
		font-size: 30px;
		top: 660px;
	}

	#about-text p {
		font-size: 20px;

	}

}

@media screen and (max-width: 550px) {

	/* NAVBAR STYLES GO HERE */

}
