* {
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
}


nav {
	overflow: auto;
	background-color: #7a7a7a;
	color: #ffffff;
}

nav #logo {
	float: left;
	height: 55px;
}

nav ul {
	margin: 20px 0 20px 0;
}

nav ul li {
	float: right;
	margin-right: 60px;
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	padding: 7px;
}

a:hover {
	border: 2px solid #cccccc;
	border-radius: 3px;
	padding: 5px;
}